@charset "UTF-8";
/*!
* RavenCSS -  v1.2.6
* Copyright 2022 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License (//github.com/Karasu-themes/karasu/blob/master/LICENSE)
*/
/* 
*=> CSS Variables
*/
:root {
  --font-base: Inter;
  --font-logo: Inter;
  --color: #6366f1;
  --color-rgb: 99,102,241;
  --text: #1e293b;
  --text-rgb: 30,41,59;
  --light: #e2e8f0;
  --light-rgb: 226,232,240;
  --color-body: #fff;
  --color-wrapper: #fff;
  --size-h1: 42px;
  --size-h2: 36px;
  --size-h3: 28px;
  --size-h4: 24px;
  --size-h5: 20px;
  --size-h6: 18px;
  --size-base: 16px;
  --size-btn: 14px;
  --size-sub: 12px;
  --layout-container: 1200px;
  --layout-sidebar: 320px;
}

/* 
*=> Reset
*/
*, :before, :after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-body);
  color: var(--text);
  font-family: var(--font-base), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: var(--font-family);
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.25;
}

h1 {
  margin-bottom: 42px;
}

h4, h5, h6 {
  opacity: 0.9;
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

h5 {
  font-size: var(--size-h5);
}

h6 {
  font-size: var(--size-h6);
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  margin-bottom: 16px;
}

ul, ol {
  padding-left: 32px;
  margin-bottom: 12px;
}

ul li,
ol li {
  list-style: inherit;
}

dl dt {
  font-weight: 700;
}

dl dd {
  font-size: var(--size-btn);
  margin-left: 8px;
  padding-left: 8px;
  opacity: 0.75;
  margin-bottom: 8px;
}

dl dd:last-child {
  margin-bottom: 0;
}

code {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: var(--size-base);
  unicode-bidi: bidi-override;
}

a {
  text-decoration: none;
  color: var(--color);
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

input,
textarea,
select,
option,
button,
mark,
code {
  font-family: var(--font-base);
  font-weight: 500;
}

mark,
code {
  padding: 4px 8px;
  background: var(--light);
  color: rgba(var(--text-rgb), 0.7);
  font-weight: 700;
  font-size: var(--size-button);
  border-radius: var(--radius-md);
}

strong,
b {
  font-weight: 500;
}

blockquote {
  background: var(--light);
  color: var(--text);
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
  padding: 32px;
  padding-right: 72px;
  position: relative;
}

blockquote cite {
  display: block;
  margin-top: 8px;
  opacity: 0.8;
}

hr {
  background: var(--light);
  height: 4px;
  border: 0;
  margin-top: 32px;
}
hr:not(:last-child) {
  margin-bottom: 24px;
}

/* 
*=> Utils 
*/
/* utils: display */
.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.none {
  display: none;
}

@media screen and (min-width: 480px) {
  .inline\:xs {
    display: inline;
  }
}
@media screen and (min-width: 576px) {
  .inline\:sm {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .inline\:md {
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .inline\:lg {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .inline\:xlg {
    display: inline;
  }
}

@media screen and (min-width: 480px) {
  .block\:xs {
    display: block;
  }
}
@media screen and (min-width: 576px) {
  .block\:sm {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .block\:md {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .block\:lg {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .block\:xlg {
    display: block;
  }
}

@media screen and (min-width: 480px) {
  .inline-block\:xs {
    display: inline-block;
  }
}
@media screen and (min-width: 576px) {
  .inline-block\:sm {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .inline-block\:md {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .inline-block\:lg {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .inline-block\:xlg {
    display: inline-block;
  }
}

@media screen and (min-width: 480px) {
  .flex\:xs {
    display: flex;
  }
}
@media screen and (min-width: 576px) {
  .flex\:sm {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .flex\:md {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .flex\:lg {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .flex\:xlg {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .inline-flex\:xs {
    display: inline-flex;
  }
}
@media screen and (min-width: 576px) {
  .inline-flex\:sm {
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) {
  .inline-flex\:md {
    display: inline-flex;
  }
}
@media screen and (min-width: 992px) {
  .inline-flex\:lg {
    display: inline-flex;
  }
}
@media screen and (min-width: 1200px) {
  .inline-flex\:xlg {
    display: inline-flex;
  }
}

@media screen and (min-width: 480px) {
  .grid\:xs {
    display: grid;
  }
}
@media screen and (min-width: 576px) {
  .grid\:sm {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  .grid\:md {
    display: grid;
  }
}
@media screen and (min-width: 992px) {
  .grid\:lg {
    display: grid;
  }
}
@media screen and (min-width: 1200px) {
  .grid\:xlg {
    display: grid;
  }
}

@media screen and (min-width: 480px) {
  .none\:xs {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .none\:sm {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .none\:md {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .none\:lg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .none\:xlg {
    display: none;
  }
}

/* utils: grid */
[class*=col-] {
  --grid-column: 1;
  grid-template-columns: repeat(var(--grid-column), minmax(0, 1fr));
}

[class*=span-] {
  --grid-span: 1;
  grid-column: span var(--grid-span)/span var(--grid-span);
}

/* grid column */
.col-1 {
  --grid-column: 1;
}

.col-2 {
  --grid-column: 2;
}

.col-3 {
  --grid-column: 3;
}

.col-4 {
  --grid-column: 4;
}

.col-5 {
  --grid-column: 5;
}

.col-6 {
  --grid-column: 6;
}

.col-7 {
  --grid-column: 7;
}

.col-8 {
  --grid-column: 8;
}

.col-9 {
  --grid-column: 9;
}

.col-10 {
  --grid-column: 10;
}

.col-11 {
  --grid-column: 11;
}

.col-12 {
  --grid-column: 12;
}

/* grid gap */
.gap-4 {
  grid-gap: 4px;
}

.gap-8 {
  grid-gap: 8px;
}

.gap-12 {
  grid-gap: 12px;
}

.gap-16 {
  grid-gap: 16px;
}

.gap-20 {
  grid-gap: 20px;
}

.gap-24 {
  grid-gap: 24px;
}

.gap-28 {
  grid-gap: 28px;
}

.gap-32 {
  grid-gap: 32px;
}

.gap-36 {
  grid-gap: 36px;
}

.gap-42 {
  grid-gap: 42px;
}

.gap-48 {
  grid-gap: 48px;
}

/* grid span */
.span-1 {
  --grid-span: 1;
}

.span-2 {
  --grid-span: 2;
}

.span-3 {
  --grid-span: 3;
}

.span-4 {
  --grid-span: 4;
}

.span-5 {
  --grid-span: 5;
}

.span-6 {
  --grid-span: 6;
}

.span-7 {
  --grid-span: 7;
}

.span-8 {
  --grid-span: 8;
}

.span-9 {
  --grid-span: 9;
}

.span-10 {
  --grid-span: 10;
}

.span-11 {
  --grid-span: 11;
}

.span-12 {
  --grid-span: 12;
}

/* Responsive */
@media screen and (min-width: 480px) {
  .col-1\:xs {
    --grid-column: 1;
  }
}
@media screen and (min-width: 576px) {
  .col-1\:sm {
    --grid-column: 1;
  }
}
@media screen and (min-width: 768px) {
  .col-1\:md {
    --grid-column: 1;
  }
}
@media screen and (min-width: 992px) {
  .col-1\:lg {
    --grid-column: 1;
  }
}
@media screen and (min-width: 1200px) {
  .col-1\:xlg {
    --grid-column: 1;
  }
}

@media screen and (min-width: 480px) {
  .col-2\:xs {
    --grid-column: 2;
  }
}
@media screen and (min-width: 576px) {
  .col-2\:sm {
    --grid-column: 2;
  }
}
@media screen and (min-width: 768px) {
  .col-2\:md {
    --grid-column: 2;
  }
}
@media screen and (min-width: 992px) {
  .col-2\:lg {
    --grid-column: 2;
  }
}
@media screen and (min-width: 1200px) {
  .col-2\:xlg {
    --grid-column: 2;
  }
}

@media screen and (min-width: 480px) {
  .col-3\:xs {
    --grid-column: 3;
  }
}
@media screen and (min-width: 576px) {
  .col-3\:sm {
    --grid-column: 3;
  }
}
@media screen and (min-width: 768px) {
  .col-3\:md {
    --grid-column: 3;
  }
}
@media screen and (min-width: 992px) {
  .col-3\:lg {
    --grid-column: 3;
  }
}
@media screen and (min-width: 1200px) {
  .col-3\:xlg {
    --grid-column: 3;
  }
}

@media screen and (min-width: 480px) {
  .col-4\:xs {
    --grid-column: 4;
  }
}
@media screen and (min-width: 576px) {
  .col-4\:sm {
    --grid-column: 4;
  }
}
@media screen and (min-width: 768px) {
  .col-4\:md {
    --grid-column: 4;
  }
}
@media screen and (min-width: 992px) {
  .col-4\:lg {
    --grid-column: 4;
  }
}
@media screen and (min-width: 1200px) {
  .col-4\:xlg {
    --grid-column: 4;
  }
}

@media screen and (min-width: 480px) {
  .col-5\:xs {
    --grid-column: 5;
  }
}
@media screen and (min-width: 576px) {
  .col-5\:sm {
    --grid-column: 5;
  }
}
@media screen and (min-width: 768px) {
  .col-5\:md {
    --grid-column: 5;
  }
}
@media screen and (min-width: 992px) {
  .col-5\:lg {
    --grid-column: 5;
  }
}
@media screen and (min-width: 1200px) {
  .col-5\:xlg {
    --grid-column: 5;
  }
}

@media screen and (min-width: 480px) {
  .col-6\:xs {
    --grid-column: 6;
  }
}
@media screen and (min-width: 576px) {
  .col-6\:sm {
    --grid-column: 6;
  }
}
@media screen and (min-width: 768px) {
  .col-6\:md {
    --grid-column: 6;
  }
}
@media screen and (min-width: 992px) {
  .col-6\:lg {
    --grid-column: 6;
  }
}
@media screen and (min-width: 1200px) {
  .col-6\:xlg {
    --grid-column: 6;
  }
}

@media screen and (min-width: 480px) {
  .col-7\:xs {
    --grid-column: 7;
  }
}
@media screen and (min-width: 576px) {
  .col-7\:sm {
    --grid-column: 7;
  }
}
@media screen and (min-width: 768px) {
  .col-7\:md {
    --grid-column: 7;
  }
}
@media screen and (min-width: 992px) {
  .col-7\:lg {
    --grid-column: 7;
  }
}
@media screen and (min-width: 1200px) {
  .col-7\:xlg {
    --grid-column: 7;
  }
}

@media screen and (min-width: 480px) {
  .col-8\:xs {
    --grid-column: 8;
  }
}
@media screen and (min-width: 576px) {
  .col-8\:sm {
    --grid-column: 8;
  }
}
@media screen and (min-width: 768px) {
  .col-8\:md {
    --grid-column: 8;
  }
}
@media screen and (min-width: 992px) {
  .col-8\:lg {
    --grid-column: 8;
  }
}
@media screen and (min-width: 1200px) {
  .col-8\:xlg {
    --grid-column: 8;
  }
}

@media screen and (min-width: 480px) {
  .col-9\:xs {
    --grid-column: 9;
  }
}
@media screen and (min-width: 576px) {
  .col-9\:sm {
    --grid-column: 9;
  }
}
@media screen and (min-width: 768px) {
  .col-9\:md {
    --grid-column: 9;
  }
}
@media screen and (min-width: 992px) {
  .col-9\:lg {
    --grid-column: 9;
  }
}
@media screen and (min-width: 1200px) {
  .col-9\:xlg {
    --grid-column: 9;
  }
}

@media screen and (min-width: 480px) {
  .col-10\:xs {
    --grid-column: 10;
  }
}
@media screen and (min-width: 576px) {
  .col-10\:sm {
    --grid-column: 10;
  }
}
@media screen and (min-width: 768px) {
  .col-10\:md {
    --grid-column: 10;
  }
}
@media screen and (min-width: 992px) {
  .col-10\:lg {
    --grid-column: 10;
  }
}
@media screen and (min-width: 1200px) {
  .col-10\:xlg {
    --grid-column: 10;
  }
}

@media screen and (min-width: 480px) {
  .col-11\:xs {
    --grid-column: 11;
  }
}
@media screen and (min-width: 576px) {
  .col-11\:sm {
    --grid-column: 11;
  }
}
@media screen and (min-width: 768px) {
  .col-11\:md {
    --grid-column: 11;
  }
}
@media screen and (min-width: 992px) {
  .col-11\:lg {
    --grid-column: 11;
  }
}
@media screen and (min-width: 1200px) {
  .col-11\:xlg {
    --grid-column: 11;
  }
}

@media screen and (min-width: 480px) {
  .col-12\:xs {
    --grid-column: 12;
  }
}
@media screen and (min-width: 576px) {
  .col-12\:sm {
    --grid-column: 12;
  }
}
@media screen and (min-width: 768px) {
  .col-12\:md {
    --grid-column: 12;
  }
}
@media screen and (min-width: 992px) {
  .col-12\:lg {
    --grid-column: 12;
  }
}
@media screen and (min-width: 1200px) {
  .col-12\:xlg {
    --grid-column: 12;
  }
}

@media screen and (min-width: 480px) {
  .span-1\:xs {
    --grid-span: 1;
  }
}
@media screen and (min-width: 576px) {
  .span-1\:sm {
    --grid-span: 1;
  }
}
@media screen and (min-width: 768px) {
  .span-1\:md {
    --grid-span: 1;
  }
}
@media screen and (min-width: 992px) {
  .span-1\:lg {
    --grid-span: 1;
  }
}
@media screen and (min-width: 1200px) {
  .span-1\:xlg {
    --grid-span: 1;
  }
}

@media screen and (min-width: 480px) {
  .span-2\:xs {
    --grid-span: 2;
  }
}
@media screen and (min-width: 576px) {
  .span-2\:sm {
    --grid-span: 2;
  }
}
@media screen and (min-width: 768px) {
  .span-2\:md {
    --grid-span: 2;
  }
}
@media screen and (min-width: 992px) {
  .span-2\:lg {
    --grid-span: 2;
  }
}
@media screen and (min-width: 1200px) {
  .span-2\:xlg {
    --grid-span: 2;
  }
}

@media screen and (min-width: 480px) {
  .span-3\:xs {
    --grid-span: 3;
  }
}
@media screen and (min-width: 576px) {
  .span-3\:sm {
    --grid-span: 3;
  }
}
@media screen and (min-width: 768px) {
  .span-3\:md {
    --grid-span: 3;
  }
}
@media screen and (min-width: 992px) {
  .span-3\:lg {
    --grid-span: 3;
  }
}
@media screen and (min-width: 1200px) {
  .span-3\:xlg {
    --grid-span: 3;
  }
}

@media screen and (min-width: 480px) {
  .span-4\:xs {
    --grid-span: 4;
  }
}
@media screen and (min-width: 576px) {
  .span-4\:sm {
    --grid-span: 4;
  }
}
@media screen and (min-width: 768px) {
  .span-4\:md {
    --grid-span: 4;
  }
}
@media screen and (min-width: 992px) {
  .span-4\:lg {
    --grid-span: 4;
  }
}
@media screen and (min-width: 1200px) {
  .span-4\:xlg {
    --grid-span: 4;
  }
}

@media screen and (min-width: 480px) {
  .span-5\:xs {
    --grid-span: 5;
  }
}
@media screen and (min-width: 576px) {
  .span-5\:sm {
    --grid-span: 5;
  }
}
@media screen and (min-width: 768px) {
  .span-5\:md {
    --grid-span: 5;
  }
}
@media screen and (min-width: 992px) {
  .span-5\:lg {
    --grid-span: 5;
  }
}
@media screen and (min-width: 1200px) {
  .span-5\:xlg {
    --grid-span: 5;
  }
}

@media screen and (min-width: 480px) {
  .span-6\:xs {
    --grid-span: 6;
  }
}
@media screen and (min-width: 576px) {
  .span-6\:sm {
    --grid-span: 6;
  }
}
@media screen and (min-width: 768px) {
  .span-6\:md {
    --grid-span: 6;
  }
}
@media screen and (min-width: 992px) {
  .span-6\:lg {
    --grid-span: 6;
  }
}
@media screen and (min-width: 1200px) {
  .span-6\:xlg {
    --grid-span: 6;
  }
}

@media screen and (min-width: 480px) {
  .span-7\:xs {
    --grid-span: 7;
  }
}
@media screen and (min-width: 576px) {
  .span-7\:sm {
    --grid-span: 7;
  }
}
@media screen and (min-width: 768px) {
  .span-7\:md {
    --grid-span: 7;
  }
}
@media screen and (min-width: 992px) {
  .span-7\:lg {
    --grid-span: 7;
  }
}
@media screen and (min-width: 1200px) {
  .span-7\:xlg {
    --grid-span: 7;
  }
}

@media screen and (min-width: 480px) {
  .span-8\:xs {
    --grid-span: 8;
  }
}
@media screen and (min-width: 576px) {
  .span-8\:sm {
    --grid-span: 8;
  }
}
@media screen and (min-width: 768px) {
  .span-8\:md {
    --grid-span: 8;
  }
}
@media screen and (min-width: 992px) {
  .span-8\:lg {
    --grid-span: 8;
  }
}
@media screen and (min-width: 1200px) {
  .span-8\:xlg {
    --grid-span: 8;
  }
}

@media screen and (min-width: 480px) {
  .span-9\:xs {
    --grid-span: 9;
  }
}
@media screen and (min-width: 576px) {
  .span-9\:sm {
    --grid-span: 9;
  }
}
@media screen and (min-width: 768px) {
  .span-9\:md {
    --grid-span: 9;
  }
}
@media screen and (min-width: 992px) {
  .span-9\:lg {
    --grid-span: 9;
  }
}
@media screen and (min-width: 1200px) {
  .span-9\:xlg {
    --grid-span: 9;
  }
}

@media screen and (min-width: 480px) {
  .span-10\:xs {
    --grid-span: 10;
  }
}
@media screen and (min-width: 576px) {
  .span-10\:sm {
    --grid-span: 10;
  }
}
@media screen and (min-width: 768px) {
  .span-10\:md {
    --grid-span: 10;
  }
}
@media screen and (min-width: 992px) {
  .span-10\:lg {
    --grid-span: 10;
  }
}
@media screen and (min-width: 1200px) {
  .span-10\:xlg {
    --grid-span: 10;
  }
}

@media screen and (min-width: 480px) {
  .span-11\:xs {
    --grid-span: 11;
  }
}
@media screen and (min-width: 576px) {
  .span-11\:sm {
    --grid-span: 11;
  }
}
@media screen and (min-width: 768px) {
  .span-11\:md {
    --grid-span: 11;
  }
}
@media screen and (min-width: 992px) {
  .span-11\:lg {
    --grid-span: 11;
  }
}
@media screen and (min-width: 1200px) {
  .span-11\:xlg {
    --grid-span: 11;
  }
}

@media screen and (min-width: 480px) {
  .span-12\:xs {
    --grid-span: 12;
  }
}
@media screen and (min-width: 576px) {
  .span-12\:sm {
    --grid-span: 12;
  }
}
@media screen and (min-width: 768px) {
  .span-12\:md {
    --grid-span: 12;
  }
}
@media screen and (min-width: 992px) {
  .span-12\:lg {
    --grid-span: 12;
  }
}
@media screen and (min-width: 1200px) {
  .span-12\:xlg {
    --grid-span: 12;
  }
}

/* utils: margin */
.m4 {
  margin: 4px;
}

.m4-t {
  margin-top: 4px;
}

.m4-r {
  margin-right: 4px;
}

.m4-b {
  margin-bottom: 4px;
}

.m4-l {
  margin-left: 4px;
}

.m4-x {
  margin-left: 4px;
  margin-right: 4px;
}

.m4-y {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m8 {
  margin: 8px;
}

.m8-t {
  margin-top: 8px;
}

.m8-r {
  margin-right: 8px;
}

.m8-b {
  margin-bottom: 8px;
}

.m8-l {
  margin-left: 8px;
}

.m8-x {
  margin-left: 8px;
  margin-right: 8px;
}

.m8-y {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m12 {
  margin: 12px;
}

.m12-t {
  margin-top: 12px;
}

.m12-r {
  margin-right: 12px;
}

.m12-b {
  margin-bottom: 12px;
}

.m12-l {
  margin-left: 12px;
}

.m12-x {
  margin-left: 12px;
  margin-right: 12px;
}

.m12-y {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m16 {
  margin: 16px;
}

.m16-t {
  margin-top: 16px;
}

.m16-r {
  margin-right: 16px;
}

.m16-b {
  margin-bottom: 16px;
}

.m16-l {
  margin-left: 16px;
}

.m16-x {
  margin-left: 16px;
  margin-right: 16px;
}

.m16-y {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m20 {
  margin: 20px;
}

.m20-t {
  margin-top: 20px;
}

.m20-r {
  margin-right: 20px;
}

.m20-b {
  margin-bottom: 20px;
}

.m20-l {
  margin-left: 20px;
}

.m20-x {
  margin-left: 20px;
  margin-right: 20px;
}

.m20-y {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m24 {
  margin: 24px;
}

.m24-t {
  margin-top: 24px;
}

.m24-r {
  margin-right: 24px;
}

.m24-b {
  margin-bottom: 24px;
}

.m24-l {
  margin-left: 24px;
}

.m24-x {
  margin-left: 24px;
  margin-right: 24px;
}

.m24-y {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m28 {
  margin: 28px;
}

.m28-t {
  margin-top: 28px;
}

.m28-r {
  margin-right: 28px;
}

.m28-b {
  margin-bottom: 28px;
}

.m28-l {
  margin-left: 28px;
}

.m28-x {
  margin-left: 28px;
  margin-right: 28px;
}

.m28-y {
  margin-top: 28px;
  margin-bottom: 28px;
}

.m32 {
  margin: 32px;
}

.m32-t {
  margin-top: 32px;
}

.m32-r {
  margin-right: 32px;
}

.m32-b {
  margin-bottom: 32px;
}

.m32-l {
  margin-left: 32px;
}

.m32-x {
  margin-left: 32px;
  margin-right: 32px;
}

.m32-y {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m36 {
  margin: 36px;
}

.m36-t {
  margin-top: 36px;
}

.m36-r {
  margin-right: 36px;
}

.m36-b {
  margin-bottom: 36px;
}

.m36-l {
  margin-left: 36px;
}

.m36-x {
  margin-left: 36px;
  margin-right: 36px;
}

.m36-y {
  margin-top: 36px;
  margin-bottom: 36px;
}

.m42 {
  margin: 42px;
}

.m42-t {
  margin-top: 42px;
}

.m42-r {
  margin-right: 42px;
}

.m42-b {
  margin-bottom: 42px;
}

.m42-l {
  margin-left: 42px;
}

.m42-x {
  margin-left: 42px;
  margin-right: 42px;
}

.m42-y {
  margin-top: 42px;
  margin-bottom: 42px;
}

.m48 {
  margin: 48px;
}

.m48-t {
  margin-top: 48px;
}

.m48-r {
  margin-right: 48px;
}

.m48-b {
  margin-bottom: 48px;
}

.m48-l {
  margin-left: 48px;
}

.m48-x {
  margin-left: 48px;
  margin-right: 48px;
}

.m48-y {
  margin-top: 48px;
  margin-bottom: 48px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* utils: padding */
.p4 {
  padding: 4px;
}

.p4-t {
  padding-top: 4px;
}

.p4-r {
  padding-right: 4px;
}

.p4-b {
  padding-bottom: 4px;
}

.p4-l {
  padding-left: 4px;
}

.p4-x {
  padding-left: 4px;
  padding-right: 4px;
}

.p4-y {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p8 {
  padding: 8px;
}

.p8-t {
  padding-top: 8px;
}

.p8-r {
  padding-right: 8px;
}

.p8-b {
  padding-bottom: 8px;
}

.p8-l {
  padding-left: 8px;
}

.p8-x {
  padding-left: 8px;
  padding-right: 8px;
}

.p8-y {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p12 {
  padding: 12px;
}

.p12-t {
  padding-top: 12px;
}

.p12-r {
  padding-right: 12px;
}

.p12-b {
  padding-bottom: 12px;
}

.p12-l {
  padding-left: 12px;
}

.p12-x {
  padding-left: 12px;
  padding-right: 12px;
}

.p12-y {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p16 {
  padding: 16px;
}

.p16-t {
  padding-top: 16px;
}

.p16-r {
  padding-right: 16px;
}

.p16-b {
  padding-bottom: 16px;
}

.p16-l {
  padding-left: 16px;
}

.p16-x {
  padding-left: 16px;
  padding-right: 16px;
}

.p16-y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p20 {
  padding: 20px;
}

.p20-t {
  padding-top: 20px;
}

.p20-r {
  padding-right: 20px;
}

.p20-b {
  padding-bottom: 20px;
}

.p20-l {
  padding-left: 20px;
}

.p20-x {
  padding-left: 20px;
  padding-right: 20px;
}

.p20-y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p24 {
  padding: 24px;
}

.p24-t {
  padding-top: 24px;
}

.p24-r {
  padding-right: 24px;
}

.p24-b {
  padding-bottom: 24px;
}

.p24-l {
  padding-left: 24px;
}

.p24-x {
  padding-left: 24px;
  padding-right: 24px;
}

.p24-y {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p28 {
  padding: 28px;
}

.p28-t {
  padding-top: 28px;
}

.p28-r {
  padding-right: 28px;
}

.p28-b {
  padding-bottom: 28px;
}

.p28-l {
  padding-left: 28px;
}

.p28-x {
  padding-left: 28px;
  padding-right: 28px;
}

.p28-y {
  padding-top: 28px;
  padding-bottom: 28px;
}

.p32 {
  padding: 32px;
}

.p32-t {
  padding-top: 32px;
}

.p32-r {
  padding-right: 32px;
}

.p32-b {
  padding-bottom: 32px;
}

.p32-l {
  padding-left: 32px;
}

.p32-x {
  padding-left: 32px;
  padding-right: 32px;
}

.p32-y {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p36 {
  padding: 36px;
}

.p36-t {
  padding-top: 36px;
}

.p36-r {
  padding-right: 36px;
}

.p36-b {
  padding-bottom: 36px;
}

.p36-l {
  padding-left: 36px;
}

.p36-x {
  padding-left: 36px;
  padding-right: 36px;
}

.p36-y {
  padding-top: 36px;
  padding-bottom: 36px;
}

.p42 {
  padding: 42px;
}

.p42-t {
  padding-top: 42px;
}

.p42-r {
  padding-right: 42px;
}

.p42-b {
  padding-bottom: 42px;
}

.p42-l {
  padding-left: 42px;
}

.p42-x {
  padding-left: 42px;
  padding-right: 42px;
}

.p42-y {
  padding-top: 42px;
  padding-bottom: 42px;
}

.p48 {
  padding: 48px;
}

.p48-t {
  padding-top: 48px;
}

.p48-r {
  padding-right: 48px;
}

.p48-b {
  padding-bottom: 48px;
}

.p48-l {
  padding-left: 48px;
}

.p48-x {
  padding-left: 48px;
  padding-right: 48px;
}

.p48-y {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* Flex content */
.content-start {
  justify-content: flex-start;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.content-around {
  justify-content: space-around;
}

.content-between {
  justify-content: space-between;
}

.content-evenly {
  justify-content: space-evenly;
}

.content-stretch {
  justify-content: stretch;
}

.content-revert {
  justify-content: revert;
}

/* Flex items */
.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* Flex wrap */
.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.nowrap {
  flex-wrap: nowrap;
}

/* Flex grow */
.grow-0 {
  flex-grow: 0;
}

.grow-1 {
  flex-grow: 1;
}

/* Flex direction */
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

/* Responsive */
@media screen and (min-width: 480px) {
  .content-start\:xs {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 576px) {
  .content-start\:sm {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .content-start\:md {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .content-start\:lg {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .content-start\:xlg {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .content-center\:xs {
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  .content-center\:sm {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .content-center\:md {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .content-center\:lg {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .content-center\:xlg {
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .content-end\:xs {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 576px) {
  .content-end\:sm {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .content-end\:md {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .content-end\:lg {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .content-end\:xlg {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 480px) {
  .content-around\:xs {
    justify-content: space-around;
  }
}
@media screen and (min-width: 576px) {
  .content-around\:sm {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .content-around\:md {
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .content-around\:lg {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .content-around\:xlg {
    justify-content: space-around;
  }
}

@media screen and (min-width: 480px) {
  .content-between\:xs {
    justify-content: space-between;
  }
}
@media screen and (min-width: 576px) {
  .content-between\:sm {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .content-between\:md {
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .content-between\:lg {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .content-between\:xlg {
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .content-evenly\:xs {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 576px) {
  .content-evenly\:sm {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .content-evenly\:md {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  .content-evenly\:lg {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .content-evenly\:xlg {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 480px) {
  .content-stretch\:xs {
    justify-content: stretch;
  }
}
@media screen and (min-width: 576px) {
  .content-stretch\:sm {
    justify-content: stretch;
  }
}
@media screen and (min-width: 768px) {
  .content-stretch\:md {
    justify-content: stretch;
  }
}
@media screen and (min-width: 992px) {
  .content-stretch\:lg {
    justify-content: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .content-stretch\:xlg {
    justify-content: stretch;
  }
}

@media screen and (min-width: 480px) {
  .content-revert\:xs {
    justify-content: revert;
  }
}
@media screen and (min-width: 576px) {
  .content-revert\:sm {
    justify-content: revert;
  }
}
@media screen and (min-width: 768px) {
  .content-revert\:md {
    justify-content: revert;
  }
}
@media screen and (min-width: 992px) {
  .content-revert\:lg {
    justify-content: revert;
  }
}
@media screen and (min-width: 1200px) {
  .content-revert\:xlg {
    justify-content: revert;
  }
}

@media screen and (min-width: 480px) {
  .items-start\:xs {
    align-items: flex-start;
  }
}
@media screen and (min-width: 576px) {
  .items-start\:sm {
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .items-start\:md {
    align-items: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .items-start\:lg {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .items-start\:xlg {
    align-items: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .items-center\:xs {
    align-items: center;
  }
}
@media screen and (min-width: 576px) {
  .items-center\:sm {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .items-center\:md {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .items-center\:lg {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .items-center\:xlg {
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .items-end\:xs {
    align-items: flex-end;
  }
}
@media screen and (min-width: 576px) {
  .items-end\:sm {
    align-items: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .items-end\:md {
    align-items: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .items-end\:lg {
    align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .items-end\:xlg {
    align-items: flex-end;
  }
}

@media screen and (min-width: 480px) {
  .items-baseline\:xs {
    align-items: baseline;
  }
}
@media screen and (min-width: 576px) {
  .items-baseline\:sm {
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .items-baseline\:md {
    align-items: baseline;
  }
}
@media screen and (min-width: 992px) {
  .items-baseline\:lg {
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .items-baseline\:xlg {
    align-items: baseline;
  }
}

@media screen and (min-width: 480px) {
  .items-stretch\:xs {
    align-items: stretch;
  }
}
@media screen and (min-width: 576px) {
  .items-stretch\:sm {
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) {
  .items-stretch\:md {
    align-items: stretch;
  }
}
@media screen and (min-width: 992px) {
  .items-stretch\:lg {
    align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .items-stretch\:xlg {
    align-items: stretch;
  }
}

@media screen and (min-width: 480px) {
  .wrap\:xs {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 576px) {
  .wrap\:sm {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .wrap\:md {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .wrap\:lg {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .wrap\:xlg {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .wrap-reverse\:xs {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (min-width: 576px) {
  .wrap-reverse\:sm {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (min-width: 768px) {
  .wrap-reverse\:md {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (min-width: 992px) {
  .wrap-reverse\:lg {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .wrap-reverse\:xlg {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 480px) {
  .nowrap\:xs {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 576px) {
  .nowrap\:sm {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .nowrap\:md {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 992px) {
  .nowrap\:lg {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .nowrap\:xlg {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .grow-0\:xs {
    flex-grow: 0;
  }
}
@media screen and (min-width: 576px) {
  .grow-0\:sm {
    flex-grow: 0;
  }
}
@media screen and (min-width: 768px) {
  .grow-0\:md {
    flex-grow: 0;
  }
}
@media screen and (min-width: 992px) {
  .grow-0\:lg {
    flex-grow: 0;
  }
}
@media screen and (min-width: 1200px) {
  .grow-0\:xlg {
    flex-grow: 0;
  }
}

@media screen and (min-width: 480px) {
  .grow-1\:xs {
    flex-grow: 1;
  }
}
@media screen and (min-width: 576px) {
  .grow-1\:sm {
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .grow-1\:md {
    flex-grow: 1;
  }
}
@media screen and (min-width: 992px) {
  .grow-1\:lg {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .grow-1\:xlg {
    flex-grow: 1;
  }
}

@media screen and (min-width: 480px) {
  .row\:xs {
    flex-direction: row;
  }
}
@media screen and (min-width: 576px) {
  .row\:sm {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .row\:md {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .row\:lg {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .row\:xlg {
    flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  .column\:xs {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) {
  .column\:sm {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .column\:md {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .column\:lg {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .column\:xlg {
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .row-reverse\:xs {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 576px) {
  .row-reverse\:sm {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .row-reverse\:md {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 992px) {
  .row-reverse\:lg {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .row-reverse\:xlg {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 480px) {
  .column-reverse\:xs {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 576px) {
  .column-reverse\:sm {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .column-reverse\:md {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 992px) {
  .column-reverse\:lg {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .column-reverse\:xlg {
    flex-direction: column-reverse;
  }
}

/* 
*=> Components
*/
/* Component: button */
[class*=cv-btn] {
  background: var(--light);
  font-size: var(--size-btn);
  color: var(--text);
  font-weight: 500;
  padding: 0 16px;
  line-height: 42px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
  outline: 0;
  border: 0;
  transition: opacity 0.2s;
}

[class*=cv-btn][href]:hover,
button[class*=cv-btn]:hover {
  opacity: 0.8;
  text-decoration: none;
}

.cv-btn:focus {
  outline: solid 2px rgba(0, 0, 0, 0.1);
}

/* Button colors */
.cv-btn-color,
.cv-btn-badge-color {
  background: var(--color);
  color: #fff;
}

.cv-btn-clean,
.cv-btn-badge-clean {
  background: transparent;
  color: var(--text);
}

/* Button badge */
[class*=cv-btn-badge] {
  padding: 4px 6px;
  font-weight: 700;
  line-height: normal;
  font-size: var(--size-sub);
}

/* Button icon */
[class*=cv-btn] .ico,
[class*=cv-btn-badge] .ico {
  margin-right: 8px;
  /* display: inline-block;
  vertical-align: middle; */
}

[class*=cv-btn] .ico {
  font-size: var(--size-base);
}

[class*=cv-btn-badge] .ico {
  font-size: var(--size-btn);
}

/* Component: embed */
.cv-embed {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 100%;
  display: block;
}

.cv-embed iframe,
.cv-embed video {
  outline: 0;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.cv-embed.aspect-3\:2 {
  padding-top: 66.6666666667%;
}

.cv-embed.aspect-4\:3 {
  padding-top: 75%;
}

.cv-embed.aspect-16\:9,
.cv-embed {
  padding-top: 56.25%;
}

/* Component: alerts */
[class*=alert] {
  background: rgba(var(--light-rgb), 0.3);
  color: var(--text);
  font-size: var(--size-btn);
  font-weight: 400;
  padding: 24px;
  line-height: 1.75;
}

.alert-color {
  background: rgba(var(--color-rgb), 0.1);
  color: var(--color);
}

/* Component: leads */
.leads {
  font-weight: 300;
  line-height: 1.7;
  font-size: var(--size-h5);
  opacity: 0.7;
}

/* Component: drop caps */
.drop-caps::first-letter {
  font-family: Georgia;
  font-size: calc(var(--size-h1) + 24px);
  font-weight: 700;
  float: left;
  line-height: 0.65;
  margin-right: 4px;
  margin-top: 8px;
}

/* Component: table */
.table {
  width: auto;
  max-width: 100%;
  color: inherit;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table-headline {
  position: relative;
  border-bottom: 5px solid var(--light);
}

.table-headline th:hover:before {
  opacity: 1;
}

.table-headline th {
  text-align: left;
  font-weight: 500;
  padding: 16px;
}

.table-body td {
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .table {
    overflow-x: auto;
  }
}
.cv-modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-modal:before {
  content: "✖";
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 16px;
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cv-modal-content {
  display: none;
}

.cv-modal-container {
  max-width: 700px;
  border-radius: 4px;
  max-height: calc(100% - 32px);
  background: var(--container);
  color: var(--text);
  padding: 16px;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cv-modal-container.is-compact {
  max-width: 320px;
  font-weight: 500;
}

.cv-modal-container.is-media {
  border-radius: 0;
  background: transparent;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: calc(100% - 32px);
  max-height: initial;
  overflow-y: inherit;
  box-shadow: 0 0 0;
}

.cv-modal-container.is-media.is-full {
  max-width: inherit;
}

.cv-modal img,
.cv-modal iframe,
.cv-modal video {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: 0;
  outline: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.cv-modal iframe,
.cv-modal video {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 992px) {
  .cv-modal iframe,
.cv-modal video {
    min-width: 720px;
    min-height: 405px;
  }
}

/* Component: tabs */
/* select */
.cv-tabs-select {
  color: var(--text);
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
}

.cv-tabs-select button {
  background: transparent;
  font-size: var(--size-btn);
  font-weight: 500;
  border-radius: 4px;
  padding: 0 16px;
  line-height: 42px;
  border: 0;
  margin: 0;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.cv-tabs-select button:not(:last-child) {
  margin-right: 8px;
}

.cv-tabs-select button:hover {
  background: var(--light);
}

.cv-tabs-select button.is-selected {
  background: rgba(var(--color-rgb), 0.3);
  color: var(--color);
}

.cv-tabs-select button.is-selected:active {
  background: rgba(var(--color-rgb), 0.5);
}

/* body */
.cv-tabs-body {
  padding: 16px;
}

/* items */
.cv-tabs-item {
  display: none;
}

.cv-tabs-item.is-selected {
  display: block;
}

/* fix button */
/* vertical */
@media screen and (min-width: 768px) {
  .cv-tabs.is-vertical {
    display: flex;
  }

  .cv-tabs.is-vertical .cv-tabs-select {
    flex-direction: column;
    flex-wrap: initial;
    overflow: initial;
  }

  .cv-tabs.is-vertical .cv-tabs-select button {
    width: 100%;
    text-align: left;
  }

  .cv-tabs.is-vertical .cv-tabs-select button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
/* Component: dropdown */
.cv-dropdown {
  position: relative;
  display: inline-block;
}

.cv-dropdown__trigger {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cv-dropdown__body {
  position: absolute;
  top: calc(100% + 8px);
  z-index: 101;
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cv-dropdown.is-right .cv-dropdown__body {
  transform-origin: right top;
}

.cv-dropdown:not(.is-right) .cv-dropdown__body {
  transform-origin: left top;
}

.cv-dropdown.is-right .cv-dropdown__body {
  right: 0;
}

.cv-dropdown:not(.is-right) .cv-dropdown__body {
  left: 0;
}

.cv-dropdown input[type=checkbox]:checked ~ .cv-dropdown__body {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}

/*=> Component: toggle/accordion */
.cv-toggle__trigger,
.cv-accordion__trigger,
.cv-bind,
.cv-bind-remove,
.cv-bind-close {
  cursor: pointer;
}

.cv-toggle__body,
.cv-accordion__body {
  display: none;
}

.cv-toggle__body.is-visible,
.cv-accordion__body.is-visible {
  display: block;
}