$fontbase: "Roboto";
$fontlogo: "Roboto";
$fonthead: "Roboto";
$sizeh1: "36px";
$sizeh2: "32px";
$sizeh3: "28px";
$sizeh4: "24px";
$sizeh5: "20px";
$sizeh6: "18px";
$sizebase: "16px";
$sizebtn: "14px";
$sizesub: "12px";