/* utils: display */
.inline {display: inline;}
.block {display: block;}
.inline-block {display: inline-block;}
.flex {display: flex;}
.inline-flex {display: inline-flex;}
.grid {display: grid;}
.none {display: none;}

.inline {@include queryClass {display: inline;}}
.block {@include queryClass {display: block;}}
.inline-block {@include queryClass {display: inline-block;}}
.flex {@include queryClass {display: flex;}}
.inline-flex {@include queryClass {display: inline-flex;}}
.grid {@include queryClass {display: grid;}}
.none {@include queryClass {display: none;}}