/* Flex content */
.content-start {justify-content: flex-start}
.content-center {justify-content: center}
.content-end {justify-content: flex-end}
.content-around {justify-content: space-around}
.content-between {justify-content: space-between}
.content-evenly {justify-content: space-evenly}
.content-stretch {justify-content: stretch}
.content-revert {justify-content: revert}

/* Flex items */
.items-start {align-items: flex-start;}
.items-center {align-items: center;}
.items-end {align-items: flex-end;}
.items-baseline {align-items: baseline;}
.items-stretch {align-items: stretch;}

/* Flex wrap */
.wrap {flex-wrap: wrap;}
.wrap-reverse {flex-wrap: wrap-reverse;}
.nowrap {flex-wrap: nowrap;}

/* Flex grow */
.grow-0 {flex-grow: 0;}
.grow-1 {flex-grow: 1;}

/* Flex direction */
.row {flex-direction: row;}
.column {flex-direction: column;}
.row-reverse {flex-direction: row-reverse;}
.column-reverse {flex-direction: column-reverse;}

/* Responsive */
.content-start {@include queryClass {justify-content: flex-start}}
.content-center {@include queryClass {justify-content: center}}
.content-end {@include queryClass {justify-content: flex-end}}
.content-around {@include queryClass {justify-content: space-around}}
.content-between {@include queryClass {justify-content: space-between}}
.content-evenly {@include queryClass {justify-content: space-evenly}}
.content-stretch {@include queryClass {justify-content: stretch}}
.content-revert {@include queryClass {justify-content: revert}}

.items-start {@include queryClass {align-items: flex-start;}}
.items-center {@include queryClass {align-items: center;}}
.items-end {@include queryClass {align-items: flex-end;}}
.items-baseline {@include queryClass {align-items: baseline;}}
.items-stretch {@include queryClass {align-items: stretch;}}

.wrap {@include queryClass {flex-wrap: wrap;}}
.wrap-reverse {@include queryClass {flex-wrap: wrap-reverse;}}
.nowrap {@include queryClass {flex-wrap: nowrap;}}

.grow-0 {@include queryClass {flex-grow: 0;}}
.grow-1 {@include queryClass {flex-grow: 1;}}

.row {@include queryClass {flex-direction: row;}}
.column {@include queryClass {flex-direction: column;}}
.row-reverse {@include queryClass {flex-direction: row-reverse;}}
.column-reverse {@include queryClass {flex-direction: column-reverse;}}