/* utils: margin */

.m-0,
.m-reset {margin: 0;}
.m-auto {margin: auto;}
.m-auto-x {margin-left: auto;margin-right: auto;}
.m-auto-y {margin-top: auto;margin-top: auto;}

.m4 {margin: 4px;}
.m8 {margin: 8px;}
.m16 {margin: 16px;}
.m24 {margin: 24px;}
.m32 {margin: 32px;}
.m36 {margin: 36px;}
.m42 {margin: 42px;}
.m48 {margin: 48px;}

.m4-x {margin-left: 4px;margin-right: 4px;}
.m8-x {margin-left: 8px;margin-right: 8px;}
.m16-x {margin-left: 16px;margin-right: 16px;}
.m24-x {margin-left: 24px;margin-right: 24px;}
.m32-x {margin-left: 32px;margin-right: 32px;}
.m36-x {margin-left: 36px;margin-right: 36px;}
.m42-x {margin-left: 42px;margin-right: 42px;}
.m48-x {margin-left: 48px;margin-right: 48px;}


.m4-y {margin-top: 4px;margin-bottom: 4px;}
.m8-y {margin-top: 8px;margin-bottom: 8px;}
.m16-y {margin-top: 16px;margin-bottom: 16px;}
.m24-y {margin-top: 24px;margin-bottom: 24px;}
.m32-y {margin-top: 32px;margin-bottom: 32px;}
.m36-y {margin-top: 36px;margin-bottom: 36px;}
.m42-y {margin-top: 42px;margin-bottom: 42px;}
.m48-y {margin-top: 48px;margin-bottom: 48px;}


.m4-l {margin-left: 4px;}
.m8-l {margin-left: 8px;}
.m16-l {margin-left: 16px;}
.m24-l {margin-left: 24px;}
.m32-l {margin-left: 32px;}
.m36-l {margin-left: 36px;}
.m42-l {margin-left: 42px;}
.m48-l {margin-left: 48px;}


.m4-t {margin-top: 4px;}
.m8-t {margin-top: 8px;}
.m16-t {margin-top: 16px;}
.m24-t {margin-top: 24px;}
.m32-t {margin-top: 32px;}
.m36-t {margin-top: 36px;}
.m42-t {margin-top: 42px;}
.m48-t {margin-top: 48px;}


.m4-r {margin-right: 4px;}
.m8-r {margin-right: 8px;}
.m16-r {margin-right: 16px;}
.m24-r {margin-right: 24px;}
.m32-r {margin-right: 32px;}
.m36-r {margin-right: 36px;}
.m42-r {margin-right: 42px;}
.m48-r {margin-right: 48px;}
.m48-t {margin-top: 48px;}


.m4-b {margin-bottom: 4px;}
.m8-b {margin-bottom: 8px;}
.m16-b {margin-bottom: 16px;}
.m24-b {margin-bottom: 24px;}
.m32-b {margin-bottom: 32px;}
.m36-b {margin-bottom: 36px;}
.m42-b {margin-bottom: 42px;}
.m48-b {margin-bottom: 48px;}