/* Component: alerts */
[class*="alert"] {
  background: rgba(var(--light-rgb), .3);
  color: var(--text);
  font-size: var(--size-btn);
  font-weight: 500;
  padding: 24px;
  border-left: 5px solid var(--light);
  line-height: 1.75;
}

.alert-color {
  background: rgba(var(--color-rgb), .1);
  color: var(--color);
  border-left-color: var(--color);
}