/* Component: alerts */
[class*="alert"] {
  background: rgba(var(--light-rgb), .3);
  color: var(--text);
  font-size: var(--size-btn);
  font-weight: 400;
  padding: 24px;
  line-height: 1.75;
}

.alert-color {
  background: rgba(var(--color-rgb), .1);
  color: var(--color);
}