/* Component: dropdown */

.cv-dropdown {
  position: relative;
  display: inline-block;
}

.cv-dropdown__trigger {
  cursor: pointer;
  user-select: none;
}

.cv-dropdown__body {
  position: absolute;
  top: calc(100% + 8px);
  z-index: 101;
  transform: scale(.5);
  opacity: 0;
  transition: transform .3s, opacity .3s;
  pointer-events: none;
}

.cv-dropdown.is-right .cv-dropdown__body {
  transform-origin: right top;
}

.cv-dropdown:not(.is-right) .cv-dropdown__body {
  transform-origin: left top;
}

.cv-dropdown.is-right .cv-dropdown__body {
  right: 0;
}

.cv-dropdown:not(.is-right) .cv-dropdown__body {
  left: 0;
}

.cv-dropdown input[type="checkbox"]:checked ~ .cv-dropdown__body {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}